#logo{
    display: inline-block;
    height: 120px;
}
#header
{
    display: flex;
    width: 100%;
    height: 100px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color:#574c52;
}

.tab
{
    display:inline-block;
    cursor:pointer;
    text-align: center;
    width: 200px;
    font-size: 30px;
    margin-right:80px; 
    color:white;

}
.tab_0
{
    background-color: #574c52
    
}
.tab_1
{
    background-color: #574c52
}
.content_tab
{
    box-sizing: border-box;
    border:1px solid black;
    margin-top:-1px;
    padding:5px;
    display:none;
    width: 100%;

}
